body{
    font-family: serif;
}
.base-nav{
    background: hsla(27, 41%, 38%, 1);

background: linear-gradient(0deg, hsla(27, 41%, 38%, 1) 0%, hsla(16, 19%, 11%, 1) 100%);

background: -moz-linear-gradient(0deg, hsla(27, 41%, 38%, 1) 0%, hsla(16, 19%, 11%, 1) 100%);

background: -webkit-linear-gradient(0deg, hsla(27, 41%, 38%, 1) 0%, hsla(16, 19%, 11%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8A5E3A", endColorstr="#221A17", GradientType=1 );
}
.base-nav a{
    color: white;
}
#base-nav-link {
    color: white;
    font-size: 20px;
    position:relative;
    left: 170%;
    
}
#base-nav-brand{

    font-size: 35px;
   

}
.index-page{
    background: hsla(27, 41%, 38%, 1);

    background: linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -moz-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -webkit-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8A5E3A", endColorstr="#100E11", GradientType=1 );
    }
#index-main{
    height: 800px;
    display: flex;
    justify-content: center;
}
.main-img-png{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-h1{
    position: relative;
    display: flex;
    justify-content: right;
    color: white;
    font-size: 50px;
    width: 500px;
    line-height: 65px;
    margin-left: 50%;

}

.hover-zoom {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.05);
}

.hover-zoom .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black; /* Choose a text color that contrasts well with your images */
    font-size: 24px; /* Adjust the font size as needed */
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevents the caption from interfering with the hover effect */
}

.hover-zoom:hover .caption {
    opacity: 1;
}

.index-button {
    border: 1px solid #221A17;
    border-radius: 20px;
    position: relative;
    margin-left: 50%;
    margin-top: 9%;
    width: 200px;
    height: 50px;
    background-color: #221A17;
    color: white;
    transition: background-color 0.3s, transform 0.3s; 
    text-align: center;
    display: inline-block; 
    line-height: 50px; 
}


.index-button:hover {
    background-color: #8A5E3A;
    transform: scale(1.05);
}

.image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px #000;
    opacity: 0;
    transition: opacity 0,5s linear;
  }
  
  .image-container:hover .caption {
    opacity: 1;
  }
  
  .image-container:hover img {
    filter: brightness(70%);
    transition: filter 0,5s linear;
  }
  
 #base-footer{
    background: hsla(27, 41%, 38%, 1);

    background: linear-gradient(0deg, hsla(27, 41%, 38%, 1) 0%, hsla(16, 19%, 11%, 1) 100%);
    
    background: -moz-linear-gradient(hsla(16, 19%, 11%, 1) 100%);
    
    background: -webkit-linear-gradient( hsla(16, 19%, 11%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8A5E3A", endColorstr="#221A17", GradientType=1 );

color: white;
 } 
 #base-footer div{
color: #fff;
 }

.login-form-container {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 15px;
}

.login-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.login-button {
    width: 100%; 
    background-color: #9a7e72; 
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #000;
    font-size: 20px;

}

.login-button:hover {
    background-color: #8A5E3A; /* Lighter shade for hover effect */
}

.register-link {
    text-align: center;
    color: white;
}

.register-link a {
    color: #9a7e72; /* Change as needed */
}

/* Additional styles for the form inputs, if needed */
.form-control {
    background-color: #ffffff;
    color: #000;
}
.registration-page {
    background: hsla(27, 41%, 38%, 1);

    background: linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -moz-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -webkit-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8A5E3A", endColorstr="#100E11", GradientType=1 );

    color: white;
    padding: 60px 0;
}

.registration-form-container {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 30px;
    border-radius: 15px;
}

.registration-title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.registration-button {
    width: 100%;
    background-color: #9a7e72; 
    border: none;
    border-radius: 5px;
    height: 40px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.registration-button:hover {
    background-color: #8A5E3A; 
}

.cart-button{
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(0,116,174);
    color: white;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    display: inline-block;
    line-height: 50px; 
    margin-bottom: 20%;
}

#account-main{
    margin-bottom: 10%;
}
.account-button-1{
    border:none;
    border-radius:5px;
    width: 150px;
    height: 40px;
    background-color: #221A17;
    color: white;
}

.account-button-2{
    border:none;
    border-radius:5px;
    width: 150px;
    height: 40px;
    background-color: #8A5E3A;
    color: white;
}

#giftcard-button{
    margin-top: 2%;
}

.video-header {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure that the video covers the whole area */
    position: absolute;
    top: 0;
    left: 0;
}

.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; 
    z-index: 1; 
} 

.introduction-container {
    position: relative;
    text-align: left; /* Align text to the left */
}

.introduction-container img {
    width: 100%;
    height: auto;
}

.introduction-text {
    position: absolute;
    bottom: 10%; /* Position from the bottom */
    left: 10%; /* Position from the left */
    color: white; /* Text color */
    font-size: 50px;
    padding: 10px; /* Padding around text */
    border-radius: 5px; /* Optional: Rounded corners */
    width: 50%; /* Adjust the width as needed */
}


.mechanism-words{
    margin: 40px;
}

.mechanism-words h2{
    color:#9a7e72;
    position: relative;
    top: 35%;
    left: 20%;


}
.scroll-animation {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.scroll-animation.visible {
    opacity: 1;
}
