{% extends 'base.html' %}

{% block title %} about {% endblock %}

{% block head %}
<style>
    /* Image animation styles */
    .animate-image {
        transition: transform 0.5s ease;
    }
    .animate-image:hover {
        transform: scale(1.05);
    }
</style>
{% endblock %}

{% block body %} 
<div class="container">
    <div class="row my-4">
        <div class="col-md-6">
            <h1>The Story of Savoir Timepieces</h1>
            <p>
                Nestled in the Swiss Alps, Savoir was born from a tradition of precision and artistry. Its name reflects a belief that a watch captures time's essence. Founded in 1923 by Jean-Luc Girardin, Savoir watches became symbols of adventure, elegance, and enduring style. As times changed, the brand embraced technology, with Élodie Girardin introducing Savoir to the online world, merging time-honored elegance with modern accessibility.





                           </p>
        </div>
        <div class="col-md-6">
            <img src="/static/css/img/alps.jpg" alt="Alps" class="img-fluid animate-image" width="650px">
        </div>
    </div>

    <h1>Our Philosophy</h1>
    <div class="row my-4">
        <div class="col-md-6">
            <img src="/static/css/img/elegance.png" alt="Elegance" class="img-fluid animate-image" width="650px">
        </div>
        <div class="col-md-6">
            <p >
                At Savoir, we hold a conviction that our watches are guardians of moments, keepers of stories, and markers of legacy. Every tick is a step forward, every tock a reminder of the past. With hands that point not just to hours, but to history and hearts, Savoir watches are designed to be more than timekeepers; they are treasures of time.


            </p>
        </div>
    </div>

    <h1>Our Collection</h1>
    <div class="row my-4">
        <div class="col-md-12">
            <img src="/static/css/img/collection.png" alt="Collection" class="img-fluid animate-image" width="650px">
            <p>
                Each collection at Savoir is a tribute to an era, a painter's stroke on the canvas of time. From the 'Heritage' line, which echoes the classic designs of Jean-Luc's era, to the 'Horizon' series that embodies the bold spirit of modern adventure; every watch is a testament to the Girardin legacy.


            </p>
        </div>
    </div>

    <h1>Our Slogan</h1>
    <p>
        "Savoir Watches - Where Every Second Tells a Story"
    </p>
    <img src="/static/css/img/slogan.png" alt="Slogan" class="img-fluid animate-image" width="650px">

    <h1>Our Invitation</h1>
    <div class="row my-4">
        <div class="col-md-6">
            <img src="/static/css/img/phylosophy.png" alt="Philosophy" class="img-fluid animate-image" width="650px">
        </div>
        <div class="col-md-6">
            <p>
                We invite you to be a part of the Savoir legacy. To not just wear a watch, but to adorn a story, to hold time in your hands and to know the craftsmanship that measures every fleeting moment with unwavering precision. Savoir is more than a watch; it's a piece of history, a slice of eternity, fashioned just for you.

                Welcome to Savoir, where time is eternal and every watch is a narrative waiting to unfold on your wrist.
                
                            </p>
        </div>
    </div>
</div>
{% endblock %}
