{% extends 'base.html' %}
{% block title %} account {% endblock %}
{% block head %}
<style>
body{
    background: hsla(27, 41%, 38%, 1);

    background: linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -moz-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    background: -webkit-linear-gradient(315deg, hsla(27, 41%, 38%, 1) 0%, hsla(280, 10%, 6%, 1) 80%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#8A5E3A", endColorstr="#100E11", GradientType=1 );
}
</style>    
{% endblock %}

{% block body %}

<div class="container" id="account-main">
    <h2 class="mt-5">Account</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Hello, {{ user.user_fname }} {{ user.user_sname }}</h5>
            <p class="card-text">Here you can find your personal details and manage your account.</p>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{ user.login }}</td>
                    </tr>
                    <tr>
                        <th scope="row">First Name</th>
                        <td>{{ user.user_fname }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Last Name</th>
                        <td>{{ user.user_sname }}</td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ url_for('view_cart') }}"><button class="account-button-1">View Cart</button></a>
            <a href="{{ url_for('logout') }}" ><button class="account-button-2" >Logout</button></a>
        </div>
    </div>
</div>

{% endblock %}
