{% extends 'base.html' %}

{% block body %}


<div class="container">
    <table class="table">
        <thead class="thead-light">
            <h1>Your Shopping Cart</h1>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.price * item.quantity }}</td>
                <td><img src="{{ item.product.img_url }}" alt="{{ item.product.name }}" style="max-height: 250px;"></td>
                <td><a href="{{ url_for('remove_from_cart', product_id=item.id) }}">Remove Item</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <a href="{{ url_for('view_products') }}"><button class="cart-button">Continue Shopping</button></a>
</div>
{% endblock %}